@page "/tenants"
@inject TenantService TenantService

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var tenant in tenants)
  {
    <tr>
      <td>@tenant.TenantID</td>
      <td>@tenant.Name</td>
    </tr>
  }
  </tbody>
</table>

@code {
  private List<Tenant> tenants = new();

  protected override async Task OnInitializedAsync()
  {
    tenants = await TenantService.GetTenantsAsync();
  }
}